
/* ---------- Color Module Styles ----------- */

body,
body.overlay {
  color: #3b3b3b;
}
.comment .comment-arrow {
  border-color: #000000;
}

#page {
    background: #990000;
}

#center-content {
    background: #cccccc;
}

.tabs ul.primary li a.active {
  background-color: #cc9999;
}

.tabs ul.primary li.active a {
  background-color: #666666;
  border-bottom: 1px solid #990000;
  color: #FFFFFF;
}
#header {
  background-color: #cc9999;
  background-image: -moz-linear-gradient(top, #990000 0%, #660000 100%);
  background-image: -ms-linear-gradient(top, #990000 0%, #660000 100%);
  background-image: -o-linear-gradient(top, #990000 0%, #660000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #990000), color-stop(1, #660000));
  background-image: -webkit-linear-gradient(top, #990000 0%, #660000 100%);
  background-image: linear-gradient(top, #990000 0%, #660000 100%);
}
a {
  color: #ffffff;
}
a:hover,
a:focus {
  color: #ffffff;
  background-color: #990000;
}
a:active {
  color: #000000;
}
.sidebar .block {
  background-color: #cc0000;
  border-color: #000000;
}

.region-header,
.region-header a,
.region-header li a.active,
#name-and-slogan,
#name-and-slogan a{
  color: #FFFFFF;
}
